* {
    border: 5px dotted red;
}

:root{
    --hidden: display:none;
    --shown: display:unset;
}

body{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: antiquewhite;
    color: darkslategrey;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
    margin: 0;
    text-align: center;
    background-color: darkslategrey;
    color: antiquewhite;
}

h1{
    font-size: 2.5rem;
    margin-top: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: antiquewhite;
    padding-left: 0.5rem;
    font-size: 2rem;
    margin: 1vh 0 0 1vw;
}

nav a :hover{
    font-weight: bold;
    color: white;
    text-decoration: underline;

}

main{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    flex-direction: column;

}

figure{
    background-image: url("../images/banner.JPG");
    background-size: cover;
    background-position: center;
    height: 10vh;
    max-width: 100vw;
    
}

h2{
    font-size: 2rem;
    text-align: end;
    border-right: 5px solid darkblue;
    padding: 1vmin;

}

p{
    display: flex;
    flex-wrap: wrap;
    color: rgb(82, 34, 34);

}

main section, main aside{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    width: 95%;
    padding: 1vw;
}

main div{
    box-sizing: border-box;
    
}

.main-content{
    font-size: 2vh;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.projects {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    flex: 2 1 0;
    align-items: center;
    padding: 1rem;
    background-image: url("../images/download.png");
    background-size: cover;
}

/* #project1{
    width: ;
} */

h3{
    font-weight: bold;
    font-size: 1rem;
    background-color:darkslategrey;
    color:antiquewhite;
}

/* .projects p{
    display: none;
} */

/* 
.projects h3:hover::after
{
    .projects p{
        display: var(--shown);
    }
} */

/* 
main, section, h2, p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main section h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

main section>p{
    align-content: flex-end;
} */

.contact ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.contact li{
    display:flex;
    text-decoration: none;
    color:rgb(82, 34, 34);
    justify-content: space-between;
}

footer{
    background-color: darkslategrey;
    color:antiquewhite;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;

      align-items: center;
    }
  }

  @media screen and (max-width: 576px) {
    main, header{
        flex-direction: column;

        align-items:center;
    }
  }
  