* {
    padding: 1rem;
    margin: 1rem;
    border: 5px dotted red;
}

body{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: lightskyblue;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    text-align: center;
    background-color: darkslateblue;
    color: antiquewhite;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    padding-left: 0.5rem;
    font-size: 24px;
    margin: auto;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

main section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    width: 95%;
    padding: 0%;
}

/* 
main, section, h2, p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main section h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

main section>p{
    align-content: flex-end;
} */


@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }